@import "tailwindcss/preflight";

.pointer-events-none {
  pointer-events: none;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.right-6 {
  right: 1.5rem;
}

.top-6 {
  top: 1.5rem;
}

.top-\[-30px\] {
  top: -30px;
}

.top-0 {
  top: 0px;
}

.z-50 {
  z-index: 50;
}

.m-20 {
  margin: 5rem;
}

.m-4 {
  margin: 1rem;
}

.m-2 {
  margin: 0.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.h-5 {
  height: 1.25rem;
}

.h-screen {
  height: 100vh;
}

.h-4 {
  height: 1rem;
}

.h-20 {
  height: 5rem;
}

.h-10 {
  height: 2.5rem;
}

.h-dvh {
  height: 100dvh;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[80\%\] {
  height: 80%;
}

.h-\[80vh\] {
  height: 80vh;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[90\%\] {
  height: 90%;
}

.h-auto {
  height: auto;
}

.h-\[70px\] {
  height: 70px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-12 {
  width: 3rem;
}

.w-\[257px\] {
  width: 257px;
}

.w-\[300px\] {
  width: 300px;
}

.w-full {
  width: 100%;
}

.w-5 {
  width: 1.25rem;
}

.w-screen {
  width: 100vw;
}

.w-\[80vh\] {
  width: 80vh;
}

.w-\[900px\] {
  width: 900px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-1 {
  width: 0.25rem;
}

.w-10 {
  width: 2.5rem;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[10px\] {
  width: 10px;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[10\%\] {
  width: 10%;
}

.w-\[20\%\] {
  width: 20%;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[100\] {
  width: 100;
}

.w-\[100px\] {
  width: 100px;
}

.w-auto {
  width: auto;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[450px\] {
  width: 450px;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[70px\] {
  width: 70px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[45\%\] {
  width: 45%;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-\[40\] {
  gap: 40;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[50px\] {
  gap: 50px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.space-y-\[13px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(13px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(13px * var(--tw-space-y-reverse));
}

.space-y-\[40px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(40px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(40px * var(--tw-space-y-reverse));
}

.space-y-\[10px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(10px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(10px * var(--tw-space-y-reverse));
}

.space-y-\[14px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(14px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(14px * var(--tw-space-y-reverse));
}

.space-y-\[1px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1px * var(--tw-space-y-reverse));
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.self-end {
  align-self: flex-end;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[30px\] {
  border-radius: 30px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-\[10px\] {
  border-width: 10px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-\[1\.2px\] {
  border-width: 1.2px;
}

.border-\[1\.5px\] {
  border-width: 1.5px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-0 {
  border-width: 0px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-solid {
  border-style: solid;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(2 84 113 / var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.border-\[\#025471\] {
  --tw-border-opacity: 1;
  border-color: rgb(2 84 113 / var(--tw-border-opacity));
}

.border-\[1\] {
  border-color: 1;
}

.border-\[\#93a9b3\] {
  --tw-border-opacity: 1;
  border-color: rgb(147 169 179 / var(--tw-border-opacity));
}

.bg-\[\#FFFDFDCC\] {
  background-color: #FFFDFDCC;
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#025471\] {
  --tw-bg-opacity: 1;
  background-color: rgb(2 84 113 / var(--tw-bg-opacity));
}

.bg-yellow-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 252 232 / var(--tw-bg-opacity));
}

.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity));
}

.bg-\[\#E2B124\] {
  --tw-bg-opacity: 1;
  background-color: rgb(226 177 36 / var(--tw-bg-opacity));
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(226 177 36 / var(--tw-bg-opacity));
}

.bg-\[url\(\'\/assets\/images\/bg-login\.png\'\)\] {
  background-image: url('/assets/images/bg-login.png');
}

.bg-\[url\(\'\/assets\/images\/bg-ss\.svg\'\)\] {
  background-image: url('/assets/images/bg-ss.svg');
}

.bg-\[url\(\/img\/mountains\.jpg\)\] {
  background-image: url(/img/mountains.jpg);
}

.bg-\[url\(\/assets\/images\/bg-ss\.svg\)\] {
  background-image: url(/assets/images/bg-ss.svg);
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-\[position\:20\%_50\%\] {
  background-position: 20% 50%;
}

.bg-right-bottom {
  background-position: right bottom;
}

.bg-bottom {
  background-position: bottom;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-10 {
  padding: 2.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-\[15px\] {
  padding: 15px;
}

.p-3 {
  padding: 0.75rem;
}

.p-2\.5 {
  padding: 0.625rem;
}

.p-1 {
  padding: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-1\.5 {
  padding-bottom: 0.375rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pt-\[7px\] {
  padding-top: 7px;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.font-mm {
  font-family: MontserratMedium, khbattambong;
}

.font-mn {
  font-family: MontserratN, KHSR;
}

.font-mk {
  font-family: MontserratMedium, KHKulen;
}

.font-mkBold {
  font-family: MontserratBold, KHKulen;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-\[33px\] {
  font-size: 33px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[1\] {
  line-height: 1;
}

.leading-\[1\.2\] {
  line-height: 1.2;
}

.leading-\[1\.5\] {
  line-height: 1.5;
}

.text-danger {
  --tw-text-opacity: 1;
  color: rgb(234 19 19 / var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(2 84 113 / var(--tw-text-opacity));
}

.text-\[\#025471\] {
  --tw-text-opacity: 1;
  color: rgb(2 84 113 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.no-underline {
  text-decoration-line: none;
}

.opacity-\[0\.25\] {
  opacity: 0.25;
}

.opacity-\[0\.15\] {
  opacity: 0.15;
}

.opacity-\[0\.95\] {
  opacity: 0.95;
}

.opacity-\[0\.1\] {
  opacity: 0.1;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_4px_6px_rgba\(0\2c 0\2c 0\2c 0\.3\)\] {
  --tw-shadow: 0 4px 6px rgba(0,0,0,0.3);
  --tw-shadow-colored: 0 4px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_6px_12px_rgba\(0\2c 0\2c 0\2c 0\.25\)\] {
  --tw-shadow: 0 6px 12px rgba(0,0,0,0.25);
  --tw-shadow-colored: 0 6px 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-blue-900\/40 {
  --tw-shadow-color: rgb(30 58 138 / 0.4);
  --tw-shadow: var(--tw-shadow-colored);
}

.drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-lg {
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-\[3px_4px_1px_rgba\(255\2c 255\2c 255\2c 0\.25\)\] {
  --tw-drop-shadow: drop-shadow(3px 4px 1px rgba(255,255,255,0.25));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@font-face {
  font-family: "MontserratMedium";

  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "MontserratBold";

  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");

  font-weight: 700;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "MontserratN";

  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "KHKulen";

  src: url("/assets/fonts/KhmerOSKoulen.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "KHMoul";

  src: url("/assets/fonts/Moul-Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "khbattambong";

  src: url("/assets/fonts/Khmer%20OS%20Battambang%20Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "KHSR";

  src: url("/assets/fonts/Kh%20Siemreap%20Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "KHMetal";

  src: url("/assets/fonts/KhmerOS_metalchrieng.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "khcontent";

  src: url("/assets/fonts/Khmer%20OS%20Content%20Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: "khbokor";

  src: url("/assets/fonts/Khmer%20OS%20Bokor%20Regular.ttf") format("truetype");

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

.hover\:border-2:hover {
  border-width: 2px;
}

.hover\:border-white:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:bg-sky-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(3 105 161 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#025471\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(2 84 113 / var(--tw-bg-opacity));
}

.hover\:bg-primary-80:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(10 109 144 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#2b6d8a\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(43 109 138 / var(--tw-bg-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-4:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-blue-300:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity));
}

.focus\:ring-secondary\/50:focus {
  --tw-ring-color: rgb(226 177 36 / 0.5);
}
