@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@font-face {
  font-family: "MontserratMedium";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MontserratBold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MontserratN";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KHKulen";
  src: url("/assets/fonts/KhmerOSKoulen.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KHMoul";
  src: url("/assets/fonts/Moul-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "khbattambong";
  src: url("/assets/fonts/Khmer%20OS%20Battambang%20Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KHSR";
  src: url("/assets/fonts/Kh%20Siemreap%20Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KHMetal";
  src: url("/assets/fonts/KhmerOS_metalchrieng.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "khcontent";
  src: url("/assets/fonts/Khmer%20OS%20Content%20Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "khbokor";
  src: url("/assets/fonts/Khmer%20OS%20Bokor%20Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
